@page "/"
@using MySqlTest.Data
@inject IAuthUserRepository _authUserRepository

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        _authUserRepository.GetAllAsync(CancellationToken.None);
    }
}

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>